* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
   
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p {
    font-weight: 600;
    margin-bottom: .8rem;
    font-size: 2.4rem;
    font:bold;
}

.puzzle {
    display: flex;
    margin-bottom: 6.4rem;
}


.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #5F3A87;
}

.body-puzzle {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size:4.8 rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vmax;
    flex-direction: column;
}
.header {
    background: white;
    color: black;
    padding: 1.6rem 0;
  }
  
  .header__title {
    font-size: 3.2rem;
    margin-bottom: .4rem;
  }
  
.container{
    max-width: 32 rem;
    margin:0 auto;
    padding : 0 1.6 rem;
}
.flex-container {
    display: flex;
    flex-direction: column;
  }
  
@media(min-width:45 rem){
    .body-puzzle{
        margin-bottom: 4.8rem;
    }

    
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: #43799c;
    color: white;
    text-align: right;
  }